@import "components/sortchoice";
@import "components/initialfetch";
@import "components/stationsdata";
@import "components/switch";

*{
  margin:0;
  box-sizing: border-box;

}
  .leaflet-container{
    border:2px solid black;
  width:50rem;
  height:33rem;
}
html{
  font-size:10px;
}
body{
  font-family:"Lato", sans-serif;
}
.App{
  
  width:70vw;
  display:grid;
  margin-left:50%;
  transform:translateX(-50%);
}

.map{
  grid-row-start:2;
  grid-column-start:2;
  width:400px;
  margin-top:40rem;
  margin-right:calc(20% + 20px);
  margin-left:calc(-40% + 40px);
  transform:translateX(50%);
  
}
