@keyframes spinning{

  0% {
    opacity:0;
    transform:rotate(90deg);
  }
  20%{
    opacity:1;
    transform:rotate(360deg);
  }
80% {
  opacity:1;
   transform:rotate(90deg);
}
100% {
  opacity: 1;
  transform:rotate(180deg);
}
}
.fetcher{
  margin-left:50%;
  transform:translateX(-50%);
  width:70rem;
background-color: rgb(255, 250, 250);
grid-column-start:2;

&--loading{
margin-left:63%;
transform: translateX(-50%);

&-wheel-img{
  width:6rem;
   animation-iteration-count: infinite;
  animation-name: spinning;
  animation-duration:5s;
}
}

  &__data{
    margin-top:10rem;
    margin-bottom:90px;
    width:70rem;
    display:grid;
    
    &--header{
      font-size:1.5rem;
      width:70rem;
      display:flex;
      position: sticky;
      background-color: rgba(rgb(62, 63, 62),.4);
      top: 0;
      left: 0;
   flex-direction: row;
   justify-content: space-around;
  &-1{
    display:grid;
    grid-row-start: 2;
    grid-column-start: 2;
    &-text{
      transform:translateY(.8rem);
      grid-row-start: 1;
      grid-row-end: 2;
      grid-column-start: 1;
    }
  }
  &-2{
    display:grid;
    grid-row-start: 2;
    grid-column-start: 3;
    &-text{
      transform:translateY(.8rem);
      grid-row-start: 1;
      grid-row-end: 2;
      grid-column-start: 1;
    }
  }
  &-3{
    display:grid;
    grid-row-start: 2;
    grid-column-start: 4;
     &-text{
      transform:translateY(.8rem);
      grid-row-start: 1;
      grid-row-end: 2;
      grid-column-start: 1;
    }
  }
  &-4{
    display:grid;
    grid-row-start: 2;
    grid-column-start: 5;
     &-text{
      transform:translateY(.8rem);
      grid-row-start: 1;
      grid-row-end: 2;
      grid-column-start: 1;
    }
  }
  &-5{
    display:grid;
    grid-row-start: 2;
    grid-column-start: 1;
    &-text{
      transform:translateY(.8rem);
      grid-row-start: 1;
      grid-row-end: 2;
      grid-column-start: 1;
    }
  }
}
&-departure{
 margin-left:1rem;
}
&-depstation{}
  
&-arrstation{
  margin-left: 2rem;
}
&-duration{
margin-left: 4rem;;
  
}
&-distance{
  margin-left:7rem;
}
&-content{
  
      border-bottom: 1px solid gray;
    width:100%;
    margin-top:1rem;
    grid-column-start: 1;
    grid-column-end:4;
     display:grid;
     grid-template-columns:1fr 1fr 1fr 1fr 1fr;
     
  
    }
  }
&__pages{
  position:sticky;
  bottom:0;
  left:4rem;
  overflow-x:scroll;
  width:100%;
  display:flex;
  flex-direction: row;
  &-header{
    background-color: rgba(red,.6);
    position:sticky;
    height:7rem;
    left:0;
    bottom:0;
  }
  &-content{
    cursor: pointer;
    margin:2px;
    background-color: antiquewhite;
    padding:2px;
  }
}
}
.uparrow{
  transition:1s;
  margin-top:2px;
  margin-bottom:-10px;
  cursor:pointer;
  grid-row-start: 1;
  grid-column-start: 2;
   
   font-size: 2rem;
    &:hover{
    color:white;
    transform: translateY(2px);
    transform:scale(2px);
    box-shadow: 0 1rem 2rem rgba(rgb(255, 255, 255),.70);
  }
  &:active{
    box-shadow: 0 .5rem 1rem rgba(black,.10);
    transform:translateY(0);
  }
}
.downarrow{
  margin-bottom:2px;
  margin-top:-10px;
  transition:1s;
  cursor:pointer;
  &:hover{
    color:white;
    transform: translateY(-2px);
    transform:scale(2px);
    box-shadow: 0 1rem 2rem rgba(rgb(255, 255, 255),.70);
  }
  &:active{
    box-shadow: 0 .5rem 1rem rgba(black,.10);
    transform:translateY(0);
  }
  
  font-size:2rem;
  grid-row-start: 2;
  grid-column-start: 2;
}