.sortchoice{
  width:60rem;
  margin-left:50%;
  transform: translateX(-50%);
  display:grid;
  grid-row-start: 2;
  grid-row-end:3;
 grid-column-start:1;
 grid-column-end: 4;
  align-content: space-between;
&--month{
    grid-row-start:1;
    grid-column-start: 1;
    border:none;
    border-bottom: 3px solid transparent;
    width:90%;
    font-family:inherit;
    font-size:1.5rem;
    padding: 1.5rem 1rem;
    border-radius:2px;
    width:100%;
    box-shadow: 0 .5rem 2rem rgba(black,.5);
    border-bottom: 3px solid rgba(rgb(128, 0, 0),.8);
    margin-bottom:.7rem;
  
}
&--fromstation{
    grid-row-start:2;
    grid-column-start: 1;
    border:none;
    border-bottom: 3px solid transparent;
    width:100%;
    font-family:inherit;
    font-size:1.2rem;
    padding: 1rem 1rem;
    border-radius:2px;
    width:100%;
    box-shadow: 0 .5rem 2rem rgba(black,.5);
    border-bottom: 3px solid rgba(rgb(128, 0, 0),.8);
    margin-bottom:.7rem;
}
&--day{
 
  grid-row-start:1;
  grid-row-end: 1;
  grid-column-start: 3;
  grid-column-end: 4;
  display:flex;
  flex-direction: row;
   border:none;
    border-bottom: 3px solid transparent;
    width:100%;
    font-family:inherit;
    font-size:1.2rem;
    padding: 1rem 1rem;
    border-radius:2px;
    width:100%;
    box-shadow: 0 .5rem 2rem rgba(black,.5);
    border-bottom: 3px solid rgba(rgb(128, 0, 0),.8);
    margin-bottom:.7rem;
  &_from{
    
  }
  &_to{}
}
&--distance{
  display:flex;
  flex-direction: row;
  grid-row-start:3;
  grid-column-start: 3;
   border:none;
    border-bottom: 3px solid transparent;
    width:100%;
    font-family:inherit;
    font-size:1.2rem;
    padding: 1rem 1rem;
    border-radius:2px;
    width:100%;
    box-shadow: 0 .5rem 2rem rgba(black,.5);
    border-bottom: 3px solid rgba(rgb(128, 0, 0),.8);
    margin-bottom:.7rem;
   &_from{}
  &_to{}
}
&--duration{
  display:flex;
  flex-direction: row;
  grid-row-start:2;
  grid-column-start: 3;
   border:none;
    border-bottom: 3px solid transparent;
    width:100%;
    font-family:inherit;
    font-size:1.2rem;
    padding: 1rem 1rem;
    border-radius:2px;
    width:100%;
    box-shadow: 0 .5rem 2rem rgba(black,.5);
    border-bottom: 3px solid rgba(rgb(128, 0, 0),.8);
    margin-bottom:.7rem;
   &_from{}
  &_to{}
}
&--sortby{
  grid-row-start:3;
  grid-column-start: 1;
  border:none;
    border-bottom: 3px solid transparent;
    width:100%;
    font-family:inherit;
    font-size:1.2rem;
    padding: 1rem 1rem;
    border-radius:2px;
    width:100%;
    box-shadow: 0 .5rem 2rem rgba(black,.5);
    border-bottom: 3px solid rgba(rgb(128, 0, 0),.8);
}
&--btn{
  
  grid-row-start:5;
  grid-column-start: 1;
  margin-top:2rem;
  
&_btn{
  background-color: rgb(216, 39, 4);
width:80%;
border:1px solid rgb(243, 13, 1);
color:white;
font-size:1.2rem;
    padding: 1rem 1rem;
    border-radius:4px;

transition:2s;

&:hover{
  background-color: rgb(252, 138, 115);
  box-shadow: 0 .5rem 2rem rgba(black,.5);
}
&:active{
   background-color: rgb(255, 255, 255);
   color:black;
   box-shadow: 0 .5rem 2rem rgba(black,.5);
}
}
}
}