.sortchoice{
  margin-left:50%;
  transform: translateX(-50%);
  display:grid;
  grid-row-start: 2;
  grid-row-end:3;
 grid-column-start:1;
 grid-column-end: 4;
  align-content: space-between;
&--month{
  grid-row-start:1;
  grid-column-start: 1;
}
&--fromstation{
   grid-row-start:2;
  grid-column-start: 1;
}
&--day{
  width:44%;
  grid-row-start:1;
  grid-row-end: 1;
  grid-column-start: 3;
  grid-column-end: 4;
  display:flex;
  flex-direction: row;
  &_from{
    
  }
  &_to{}
}
&--distance{
  display:flex;
  flex-direction: row;
  grid-row-start:3;
  grid-column-start: 3;
   &_from{}
  &_to{}
}
&--duration{
  display:flex;
  flex-direction: row;
  grid-row-start:2;
  grid-column-start: 3;
   &_from{}
  &_to{}
}
&--sortby{grid-row-start:3;
  grid-column-start: 1;}
&--btn{
  grid-row-start:5;
  grid-column-start: 1;
  margin-top:3rem;
  
&_btn{

}
}
}