.switchcontainer{
  margin-bottom: 4rem;
  margin-top: 1rem;
  padding: 1rem;;
  grid-row-start:1;
  grid-column-start:1;
  grid-column-end:4;
  margin-left:50%;
  transform:translateX(-50%);
  border:1px solid black;
  width: 40rem;
  height:6.5rem;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
 &_sort{
  padding:1rem;
  border:1px solid black;
  font-size: 1.5rem;
  font-weight: 100;
  border-radius: 10%;
  background-color: rgb(0, 81, 5);
  color:white;
  cursor:pointer;
  transition:2s;
 &:hover{
  background-color: white;
  color:black;
 }
 }
 &_station{
   padding:1rem;
  border:1px solid black;
  font-size: 1.5rem;
  font-weight: 100;
  border-radius: 10%;
    background-color: rgb(94, 0, 0);
  color:white;
  cursor:pointer;
  transition:2s;
   &:hover{
  background-color: white;
  color:black;
 }
 }
}