.stationsdata_container{
  width:63rem;
margin-left:50%;
transform: translateX(-50%);

&-arrival{
  line-height: 2rem;
  position:absolute;
  top:3.3rem;
 margin-right:calc(20% + 20px);
  margin-left:calc(-40% + 40px);
  left:91rem;
  width:50rem;
  border:1px solid gray;
  &-header{
    text-align: center;
    font-weight: 900;
    font-size: 1.2rem;
    letter-spacing: 2px;
  }
  &-maininfo{
    padding:3px;
    border-bottom: 1px solid black;
  }
  &-grid{
    display:flex;
    flex-direction: row;
    &-avg{
      
      padding:3px;
      margin-left:2rem;
      border-left:1px solid black;
      padding-left:2rem;
    }
    &-top{
      
      padding:3px;
      padding-right:2rem;
      border-right: 1px solid pink;
    }
  }
  &-avg{
    background-color: rgb(237, 171, 171);
    border:1px solid black;
    font-size:1.3rem;
    cursor:pointer;
    padding:2px;
  }
  &-popular{
    padding:2px;
    background-color: rgb(254, 226, 234);
    font-size:1.3rem;
    border:1px solid black;
    
  }
}
}
.stationsdata{
  filter:grayscale(80%);
  background-blend-mode:normal;
  background-image: linear-gradient(to right bottom, rgba(rgb(226, 224, 96),.5),rgba(rgb(210, 178, 19),.7)), url(../public/img/bikes.jpg);
  background-size:100% 60rem;
  grid-column-start:1;
  grid-row-start:2;
  grid-column-end: 3;
  margin-left: 50%;
  margin-right:33%;
  transform:translateX(-50%);
  width:62rem;
  margin-top:1rem;
  display:grid;
  grid-auto-rows: 7rem;
  grid-template-columns: repeat(5,1fr);
  &_input{
    width:20rem;
    margin-left:50%;
    transform: translateX(-50%);
  }
  &_data{
    background-color: rgba(white,.7);
    font-size: 1.2rem;
    padding:2px;
    margin:2px;
    width:12rem;
    border:1px solid rgb(242, 255, 206);
    transition:2s;
    &:hover{
      background-color: rgb(255, 93, 93);
    }
    &-address{
      color:white;
    }
    
  }
}