.sortchoice {
  margin-left: 50%;
  transform: translateX(-50%);
  display: grid;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 4;
  align-content: space-between; }
  .sortchoice--month {
    grid-row-start: 1;
    grid-column-start: 1; }
  .sortchoice--fromstation {
    grid-row-start: 2;
    grid-column-start: 1; }
  .sortchoice--day {
    width: 44%;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 3;
    grid-column-end: 4;
    display: flex;
    flex-direction: row; }
  .sortchoice--distance {
    display: flex;
    flex-direction: row;
    grid-row-start: 3;
    grid-column-start: 3; }
  .sortchoice--duration {
    display: flex;
    flex-direction: row;
    grid-row-start: 2;
    grid-column-start: 3; }
  .sortchoice--sortby {
    grid-row-start: 3;
    grid-column-start: 1; }
  .sortchoice--btn {
    grid-row-start: 5;
    grid-column-start: 1;
    margin-top: 3rem; }

.fetcher {
  margin-left: 50%;
  transform: translateX(-50%);
  width: 70rem;
  background-color: snow;
  grid-column-start: 2; }
  .fetcher--loading {
    position: absolute;
    bottom: 3rem; }
  .fetcher__data {
    margin-top: 10rem;
    margin-bottom: 90px;
    width: 70rem;
    display: grid; }
    .fetcher__data--header {
      font-size: 1.5rem;
      width: 70rem;
      display: flex;
      position: sticky;
      background-color: rgba(62, 63, 62, 0.4);
      top: 0;
      left: 0;
      flex-direction: row;
      justify-content: space-around; }
      .fetcher__data--header-1 {
        display: grid;
        grid-row-start: 2;
        grid-column-start: 2; }
        .fetcher__data--header-1-text {
          transform: translateY(0.8rem);
          grid-row-start: 1;
          grid-row-end: 2;
          grid-column-start: 1; }
      .fetcher__data--header-2 {
        display: grid;
        grid-row-start: 2;
        grid-column-start: 3; }
        .fetcher__data--header-2-text {
          transform: translateY(0.8rem);
          grid-row-start: 1;
          grid-row-end: 2;
          grid-column-start: 1; }
      .fetcher__data--header-3 {
        display: grid;
        grid-row-start: 2;
        grid-column-start: 4; }
        .fetcher__data--header-3-text {
          transform: translateY(0.8rem);
          grid-row-start: 1;
          grid-row-end: 2;
          grid-column-start: 1; }
      .fetcher__data--header-4 {
        display: grid;
        grid-row-start: 2;
        grid-column-start: 5; }
        .fetcher__data--header-4-text {
          transform: translateY(0.8rem);
          grid-row-start: 1;
          grid-row-end: 2;
          grid-column-start: 1; }
      .fetcher__data--header-5 {
        display: grid;
        grid-row-start: 2;
        grid-column-start: 1; }
        .fetcher__data--header-5-text {
          transform: translateY(0.8rem);
          grid-row-start: 1;
          grid-row-end: 2;
          grid-column-start: 1; }
    .fetcher__data-departure {
      margin-left: 1rem; }
    .fetcher__data-arrstation {
      margin-left: 2rem; }
    .fetcher__data-duration {
      margin-left: 4rem; }
    .fetcher__data-distance {
      margin-left: 7rem; }
    .fetcher__data-content {
      border-bottom: 1px solid gray;
      width: 100%;
      margin-top: 1rem;
      grid-column-start: 1;
      grid-column-end: 4;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr; }
  .fetcher__pages {
    position: sticky;
    bottom: 0;
    left: 4rem;
    overflow-x: scroll;
    width: 100%;
    display: flex;
    flex-direction: row; }
    .fetcher__pages-header {
      background-color: rgba(255, 0, 0, 0.6);
      position: sticky;
      height: 7rem;
      left: 0;
      bottom: 0; }
    .fetcher__pages-content {
      cursor: pointer;
      margin: 2px;
      background-color: antiquewhite;
      padding: 2px; }

.uparrow {
  transition: 1s;
  margin-top: 2px;
  margin-bottom: -10px;
  cursor: pointer;
  grid-row-start: 1;
  grid-column-start: 2;
  font-size: 2rem; }
  .uparrow:hover {
    color: white;
    transform: translateY(2px);
    transform: scale(2px);
    box-shadow: 0 1rem 2rem rgba(255, 255, 255, 0.7); }
  .uparrow:active {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    transform: translateY(0); }

.downarrow {
  margin-bottom: 2px;
  margin-top: -10px;
  transition: 1s;
  cursor: pointer;
  font-size: 2rem;
  grid-row-start: 2;
  grid-column-start: 2; }
  .downarrow:hover {
    color: white;
    transform: translateY(-2px);
    transform: scale(2px);
    box-shadow: 0 1rem 2rem rgba(255, 255, 255, 0.7); }
  .downarrow:active {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    transform: translateY(0); }

.stationsdata_container {
  margin-left: 50%;
  transform: translateX(-50%); }
  .stationsdata_container-arrival {
    line-height: 2rem;
    position: absolute;
    top: 4rem;
    left: 57rem;
    width: 50rem;
    border: 1px solid gray; }
    .stationsdata_container-arrival-header {
      text-align: center;
      font-weight: 900;
      font-size: 1.2rem;
      letter-spacing: 2px; }
    .stationsdata_container-arrival-maininfo {
      padding: 3px;
      border-bottom: 1px solid black; }
    .stationsdata_container-arrival-grid {
      display: flex;
      flex-direction: row; }
      .stationsdata_container-arrival-grid-avg {
        padding: 3px;
        margin-left: 2rem;
        border-left: 1px solid black;
        padding-left: 2rem; }
      .stationsdata_container-arrival-grid-top {
        padding: 3px;
        padding-right: 2rem;
        border-right: 1px solid pink; }
    .stationsdata_container-arrival-avg {
      background-color: #edabab;
      border: 1px solid black;
      font-size: 1.3rem;
      cursor: pointer;
      padding: 2px; }
    .stationsdata_container-arrival-popular {
      padding: 2px;
      background-color: #fee2ea;
      font-size: 1.3rem;
      border: 1px solid black; }

.stationsdata {
  grid-column-start: 1;
  grid-row-start: 2;
  grid-column-end: 3;
  margin-left: 40%;
  transform: translateX(-50%);
  width: 50rem;
  margin-top: 1rem;
  display: grid;
  grid-auto-rows: 7rem;
  grid-template-columns: repeat(5, 1fr); }
  .stationsdata_input {
    width: 20rem;
    margin-left: 50%;
    transform: translateX(-50%); }
  .stationsdata_data {
    font-size: 1.2rem;
    padding: 2px;
    margin: 2px;
    width: 12rem;
    border: 1px solid gray;
    transition: 2s; }
    .stationsdata_data:hover {
      background-color: #ff5d5d; }
    .stationsdata_data-address {
      color: white; }

.switchcontainer {
  margin-bottom: 4rem;
  margin-top: 1rem;
  padding: 1rem;
  grid-row-start: 1;
  grid-column-start: 1;
  grid-column-end: 4;
  margin-left: 50%;
  transform: translateX(-50%);
  border: 1px solid black;
  width: 40rem;
  height: 6.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .switchcontainer_sort {
    padding: 1rem;
    border: 1px solid black;
    font-size: 1.5rem;
    font-weight: 100;
    border-radius: 10%;
    background-color: #005105;
    color: white;
    cursor: pointer;
    transition: 2s; }
    .switchcontainer_sort:hover {
      background-color: white;
      color: black; }
  .switchcontainer_station {
    padding: 1rem;
    border: 1px solid black;
    font-size: 1.5rem;
    font-weight: 100;
    border-radius: 10%;
    background-color: #5e0000;
    color: white;
    cursor: pointer;
    transition: 2s; }
    .switchcontainer_station:hover {
      background-color: white;
      color: black; }

* {
  margin: 0;
  box-sizing: border-box; }

.leaflet-container {
  border: 2px solid black;
  width: 50rem;
  height: 33rem; }

html {
  font-size: 10px; }

body {
  font-family: "Lato", sans-serif; }

.App {
  width: 70vw;
  display: grid;
  margin-left: 50%;
  transform: translateX(-50%); }

.map {
  grid-row-start: 2;
  grid-column-start: 2;
  width: 400px;
  margin-top: 40rem;
  margin-left: -25%;
  transform: translateX(50%); }
