.sortchoice {
  margin-left: 50%;
  transform: translateX(-50%);
  display: grid;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 4;
  align-content: space-between; }
  .sortchoice--month {
    grid-row-start: 1;
    grid-column-start: 1; }
  .sortchoice--fromstation {
    grid-row-start: 2;
    grid-column-start: 1; }
  .sortchoice--day {
    width: 44%;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 3;
    grid-column-end: 4;
    display: flex;
    flex-direction: row; }
  .sortchoice--distance {
    display: flex;
    flex-direction: row;
    grid-row-start: 3;
    grid-column-start: 3; }
  .sortchoice--duration {
    display: flex;
    flex-direction: row;
    grid-row-start: 2;
    grid-column-start: 3; }
  .sortchoice--sortby {
    grid-row-start: 3;
    grid-column-start: 1; }
  .sortchoice--btn {
    grid-row-start: 5;
    grid-column-start: 1;
    margin-top: 3rem; }

.fetcher {
  margin-left: 50%;
  transform: translateX(-50%);
  width: 70rem;
  background-color: snow;
  grid-column-start: 2; }
  .fetcher--loading {
    position: absolute;
    bottom: 3rem; }
  .fetcher__data {
    margin-top: 10rem;
    margin-bottom: 90px;
    width: 70rem;
    display: grid; }
    .fetcher__data--header {
      font-size: 1.5rem;
      width: 70rem;
      display: flex;
      position: sticky;
      background-color: rgba(62, 63, 62, 0.4);
      top: 0;
      left: 0;
      flex-direction: row;
      justify-content: space-around; }
      .fetcher__data--header-1 {
        grid-row-start: 2;
        grid-column-start: 2; }
      .fetcher__data--header-2 {
        grid-row-start: 2;
        grid-column-start: 3; }
      .fetcher__data--header-3 {
        grid-row-start: 2;
        grid-column-start: 4; }
      .fetcher__data--header-4 {
        grid-row-start: 2;
        grid-column-start: 5; }
      .fetcher__data--header-5 {
        grid-row-start: 2;
        grid-column-start: 1; }
    .fetcher__data-departure {
      margin-left: 1rem; }
    .fetcher__data-arrstation {
      margin-left: 2rem; }
    .fetcher__data-duration {
      margin-left: 4rem; }
    .fetcher__data-distance {
      margin-left: 7rem; }
    .fetcher__data-content {
      border-bottom: 1px solid gray;
      width: 100%;
      margin-top: 1rem;
      grid-column-start: 1;
      grid-column-end: 4;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr; }
  .fetcher__pages {
    position: sticky;
    bottom: 0;
    left: 4rem;
    overflow-x: scroll;
    width: 100%;
    display: flex;
    flex-direction: row; }
    .fetcher__pages-header {
      background-color: rgba(255, 0, 0, 0.6);
      position: sticky;
      height: 7rem;
      left: 0;
      bottom: 0; }
    .fetcher__pages-content {
      cursor: pointer;
      margin: 2px;
      background-color: antiquewhite;
      padding: 2px; }

.stationsdata_container {
  margin-left: 50%;
  transform: translateX(-50%); }
  .stationsdata_container-arrival {
    position: absolute;
    top: 4rem;
    left: 57rem;
    width: 53rem;
    border: 1px solid gray; }

.stationsdata {
  grid-column-start: 1;
  grid-row-start: 2;
  grid-column-end: 3;
  margin-left: 40%;
  transform: translateX(-50%);
  width: 50rem;
  margin-top: 1rem;
  display: grid;
  grid-auto-rows: 7rem;
  grid-template-columns: repeat(5, 1fr); }
  .stationsdata_input {
    width: 20rem;
    margin-left: 50%;
    transform: translateX(-50%); }
  .stationsdata_data {
    font-size: 1.2rem;
    padding: 2px;
    margin: 2px;
    width: 12rem;
    border: 1px solid gray;
    transition: 2s; }
    .stationsdata_data:hover {
      background-color: #ff5d5d; }
    .stationsdata_data-address {
      color: white; }

* {
  margin: 0;
  box-sizing: border-box; }

.leaflet-container {
  border: 2px solid black;
  width: 50rem;
  height: 33rem; }

html {
  font-size: 10px; }

body {
  font-family: "Lato", sans-serif; }

.App {
  width: 70vw;
  display: grid;
  margin-left: 50%;
  transform: translateX(-50%); }

.switchcontainer {
  margin-bottom: 4rem;
  grid-row-start: 1;
  grid-column-start: 1;
  grid-column-end: 4;
  margin-left: 50%;
  transform: translateX(-50%);
  border: 1px solid black;
  width: 40rem;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.map {
  grid-row-start: 2;
  grid-column-start: 2;
  width: 400px;
  margin-top: 37rem;
  margin-left: -25%;
  transform: translateX(50%); }
